.container {
    width: 100%;
    height: 100%;
    margin: auto 0;
}

.heading {
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
}

.app_name {
    font-weight: 800;
    font-size: 2rem;
    color: #F77E21;
}

.logo {
    color: #f24b04;
    font-size: 2.9rem;
}